main > article > section {
  padding: 1rem 4rem;
  text-align: left;
}
main > article > section > h2 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 3.5rem;
}
main > article > section > p {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
}
