main > article > section {
  padding: 1rem 4rem;
  border-bottom: 1px solid darkgray;
  text-align: left;
}
main > article > section:last-child {
  border-bottom: 0;
}
main > article > section > h2 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 3.5rem;
}
main > article > section > p {
  font-size: 1em;
  font-weight: 500;
  line-height: 1.5em;
}
