h1,
h2,
h3,
h4,
p,
img,
figure {
  margin: 0;
  padding: 0;
}
html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;

  margin: 0;
  padding: 0.75rem;
  box-sizing: border-box;
  background: #56da5d;

  text-align: center;
}
.row {
  position: relative;
  width: 100%;
  margin-bottom: 0.75rem;
  background: #ffffff;
  box-sizing: border-box;
}
header {
  margin: 0;
}
header nav {
  width: 100%;
  text-align: right;
}
header nav a {
  width: 7.5rem;
  margin: 0.5rem;
  padding: 0.5rem 1.2rem;

  display: inline-block;
  text-align: center;
  text-decoration: none;
  background: skyblue;
  color: white;
  box-shadow: 2px 2px 6px darkgrey;
  border-radius: 5px;
  transition: 0.3s;
  font-size: 1.5rem;
  font-weight: 600;
}
main > article {
  width: 100%;
}
main > article section {
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
}
footer p {
  font-size: 1rem;
  line-height: 2rem;
}
.btn:hover {
  background: lightblue;
  color: darkslategray;
  font-weight: 700;
}
