main > article > .article__text > h1 {
  font-size: 2rem;
  line-height: 3rem;
}
main > article > .article__text > p {
  font-size: 1rem;
  line-height: 2rem;
}
main > article > .article__link a {
  display: inline-block;
  width: 100px;
  height: 100px;

  margin: 0 1rem;
  padding: 0 0.5rem;

  text-decoration: none;
  background: skyblue;
  color: white;
  box-shadow: 2px 2px 6px darkgrey;
  border-radius: 5px;
  transition: 0.3s;
  font-size: 1.5rem;
  line-height: 100px;
  font-weight: 600;
}

main > article > .article__figure > img {
  width: 80%;
}
