main > article > .article__photo {
  position: relative;
  width: 90%;
  margin: 0 5%;
  padding: 1rem 0;
  overflow: auto;
  border-bottom: 1px solid darkgray;
}
main > article > .article__photo:last-child {
  border-bottom: 0;
}
main > article > .article__photo > figure {
  width: 30%;
  float: left;
}
main > article > .article__photo > figure > img {
  width: 100%;

  border: 10px solid darkgray;
  box-sizing: border-box;
}
main > article > .article__photo > div {
  width: 65%;
  padding-right: 2rem;
  box-sizing: border-box;
  float: right;
  text-align: left;
}
main > article > .article__photo > div > h2 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 3rem;
}
main > article > .article__photo > div > p {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 2.3rem;
}
