/*=============================================
=               Common Style                  =
=============================================*/
body > * {
  all: unset;
}
script {
  display: none;
}
body {
  width: 100%;
  height: 100%;

  margin: 0;
  padding: 10px;
  box-sizing: border-box;
  background: #56da5d;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  text-align: center;
}
.row {
  width: 100%;
  margin-top: 10px;
  background: #ffffff;
}
.header {
  display: block;
  margin: 0;
}
.header > ul {
  width: 100%;
  height: 4rem;

  margin: 0;
  padding: 0.5rem 1rem;
  box-sizing: border-box;

  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header > ul > li {
  margin-left: 1rem;
  list-style: none;
}
.header > ul > li > a {
  width: 100px;
  padding: 0.25rem 0.8rem;

  display: block;

  font-size: 1.5rem;
  font-weight: 500;
  text-decoration: none;

  color: #ffffff;
  background: skyblue;
  border-radius: 5px;
  box-shadow: 2px 1px 8px darkgray;
}
.header > ul > li > a:hover {
  background: white;
  color: skyblue;
  font-weight: 700;
}
.section div:nth-last-child(1) {
  border: none;
}
.footer {
  display: block;
}
.footer > p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
}
/*=====        End of Common Style     ======*/

/*=============================================
=                  index.html                 =
=============================================*/
.section {
  padding: 1rem;
  box-sizing: border-box;
}
.section > h1 {
  font-size: 2rem;
  font-weight: 700;
}
.section > p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
}
.section > ul {
  width: 100%;

  margin: 0;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}
.section > ul > li {
  margin-left: 1rem;
  list-style: none;
}
.section > ul > li > a {
  width: 150px;
  height: 150px;

  display: block;
  font-size: 2rem;
  font-weight: 500;
  line-height: 150px;
  text-decoration: none;

  color: #ffffff;
  background: skyblue;
  border-radius: 5px;
  box-shadow: 2px 1px 8px darkgray;
}
.section > ul > li a:hover {
  background: white;
  color: skyblue;
  font-weight: 700;
}
.section > img {
  margin-top: 1rem;
  width: 80%;
}

/*=====        End of index.html        ======*/

/*=============================================
=                 aboutme.html                =
=============================================*/
.section > .article {
  width: 100%;

  margin: 0;
  padding: 1rem 4rem;
  box-sizing: border-box;

  border-bottom: 1px solid darkgray;

  text-align: left;
}
.section > .article > h2 {
  font-size: 1.5rem;
  font-weight: 600;
}
.section > .article > p {
  font-size: 1rem;
  line-height: 1.3rem;
}
/*=====  End of aboutme.html  ======*/

/*=============================================
=              Section photo.html             =
=============================================*/
.section > .photo-container {
  width: 100%;

  padding: 2rem 0;
  box-sizing: border-box;

  display: flex;
  justify-content: flex-start;
  align-items: stretch;

  border-bottom: 1px solid darkgray;
}
.section > .photo-container > .photo-bx {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section > .photo-container > .photo-bx > img {
  height: 400px;
  border: 10px solid darkgray;
}
.section > .photo-container > .contents-bx {
  flex: 2;
  display: block;

  padding: 0 1rem;
  font-size: 1.3rem;
  line-height: 2rem;
  text-align: left;
}
.section > .photo-container > .contents-bx > .date {
  font-weight: 700;
  font-size: 1.2em;
}

/*=====     End of photo.html     ======*/

/*=============================================
=            Section today.html               =
=============================================*/
.section > .time-container {
  width: 100%;
  height: 75vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.section > .time-container > .date {
  font-size: 5rem;
  line-height: 6rem;
  font-weight: 700;
}
.section > .time-container > .time {
  font-size: 4rem;
  line-height: 5rem;
  font-weight: 500;
}
/*=====     End of today.html     ======*/
